/*
color scheme: gothic
color composition: black white gray
font composition: garamond, times new roman, gothic
*/

*{
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

body{
  background: url('silhouette-981802_960_720.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  #wrap{
    margin-left: 20px;
    width: auto;
    height: auto;
    .thepost{
      h1{
        color: darkgrey;
      }
      h2{
        color: darkgray;
      }
      p{
        color: gray;
      }
      .postfooter{
        color: white;
      }
    }
  }
}